.header {
  margin-bottom: 20px;
}

.actions {
  display: flex;
  gap: 4px;
}

.actions button {
  font-size: 1rem;
  text-transform: uppercase;
  flex: 1;
  padding: 10px;
  background-color: transparent;
}

.actions .active,
.actions button:hover {
  background-color: #ffd500;
  color: #212121;
}

.input_search {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.input_search input {
  font-size: 1rem;
  padding: 5px 10px;
  width: 40%;
}
